<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<div id="app">
    <button onclick="vm.openForm()">Open Form</button><br>
    {{ "Nilai a :" + a }}
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a : 0,
                neww : ''
            },
            methods : {
                openForm : function(){
                    for(var bb = 0; bb <=10; bb+=this.a){
                        return(this.a = prompt("Masukan Nilai a"));
                    }
                    
            }}})
    </script>
</body>
</html>